@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400,500,700,900);

button {
  position: absolute;
  top: 48px;
  left: 48px;
  width: 320px;
  height: 320px;
  opacity: 0;
  border: 0;
}

body {
    width: 1024px;
    height: 720px;
    background:#27211E;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

body:-webkit-full-screen {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.content {
    margin: 48px;
    width: 928px;
    height: 672px;   
}

.list {
    float: left;
    width: 928px;
    height: 100%;
}

.element {
    width: 448px;
    height: 144px;
    background-color: #B00E1B;/*blue ;*/
    border-radius: 72px;
    margin-bottom: 32px;
}

.element img {
    float: left;
    width: 144px;
    height: 144px;
    border-radius: 72px;
}

#today{
  width: 928px;
  height: 320px;
  border-radius: 160px;
}

#today img{
  width: 320px;
  height: 320px;
}

.text{
  margin-left: 40px;
  float: left;
  height: 100%;
  width: 290px;
}

#dayThree{
  display: none;
}

.temp{
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  /*background-color: ;*/
  margin: 8px 0 0 248px;
}

.temp span {
  display: block;
  width: 64px;
  height: 100%;
  font-size: 28px;
  font-weight: 500;
  max-width: 250px;
  color: white;
  text-align: center;
  margin-top: 14px;
}

.deliverState{
    float: left;
    font-size: 30px;
    font-weight: 500;
    max-width: 250px;
    color: white;
    margin: 120px 0 0 23px;
}

.date {
    float: left;
    font-size: 20px;
    font-weight: 200;
    width: max-content;
    color: white;
    margin: 23px 0 0 16px;
}

#todayDate{
  font-size: 24px;
  margin: 83px 0 45px 0;
}

.titel {
    float: left;
    font-size: 24px;
    font-weight: 500;
    width: 285px;
    color: white;
    margin: 6px 0 0 16px;
}

#todayTitel{
  font-size: 30px;
  margin: 0 0 83px 0;
  
}

/* ------------- Clock --------------*/
.clock {
    position: absolute;
    right: 4px;
    bottom: 15px;
    border-radius: 100%;
    background: #B00E1B;
    
    
  }
  
  .wrap {
    overflow: hidden;
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 100%;
  }
  
  .minute,
  .hour {
    position: absolute;
    border-radius: 3px;
    height: 100px;
    width: 6px;
    margin: auto;
    top: -31%;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    transform-origin: bottom center;
    transform: rotate(0deg);
    
    z-index: 1;
  }
  
  .minute {
    border-radius: 2px;
    position: absolute;
    height: 144px;
    width: 4px;
    top: -45%;
    left: 0;
    transform: rotate(90deg);
  }
  
  .dot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 112px;
    height: 82px;
    border-radius: 100px;
    background: #B00E1B;
    margin: auto;
    z-index: 1;
    font-weight: 500;
    color: white;
    font-size: 36px;
    text-align: center;
    padding-top: 32px; 
  }